<%= form_for(@book, class: "form-horizontal")  do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <div class="field">
    <%= f.label t('book.title'), class:"col-sm-2 control-label" %><br>
    <%= f.text_field :tittle, class:"form-control", placeholder:t('book.ph_title')%>
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label t('book.author'), class:"col-sm-2 control-label" %><br>
    <%= f.text_field :author, class:"form-control", placeholder:t('book.ph_author') %>
  </div>
  </div>

  <div class="form-group">
  <div class="field">
    <%= f.label  t('book.description'), class:"col-sm-2 control-label" %><br>
    <%= f.text_area :description, class:"form-control", placeholder:t('book.ph_description')%>
  </div>
  </div>

  <div class="actions">
    <%= f.submit t(:save), class: 'btn btn-success' %>
  </div>

<% end %>
