

<%- title "Booker - #{@titulo}" %>

<div style="margin:20px;">

  <div style="width:50%">
  <p><h4 id="notice"><%= notice %></h4></p>
  </div>

<h1 style="text-align:center; margin-bottom:20px;">Lista de Libros</h1>


  <%= form_tag(books_path, :method => "get", :id => "books_search", class:"navbar-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Buscar titulo o autor", class:"form-control", style:"width:90%" %>
  <%= submit_tag "Buscar", class:"btn btn-info"%>
  <% end %>


<div id="libros">
  <%= render 'bookslist' %>
</div>



</div>
